*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

body {
    background-image: url('https://images.unsplash.com/photo-1639322537231-2f206e06af84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJsb2NrY2hhaW58ZW58MHx8MHx8&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

.navbar{
    display: block;
    text-align: center;
    color: white;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 20px;
}

ul{
    float:right;
    margin-right: 40px;
}

li, li1{
    display: inline-block;
    margin: 10px;
    font-size: 15px;
}

li a, li1 a{
    margin: auto;
    text-decoration: none;
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

li a:hover{
    color: #ff7200;
}

li1 a:hover{
    color: rgb(84, 44, 113);
}

.content{
    width: 75%;
    height: auto;
    margin-left: 90px;
    color: #fff;
    position: relative;
}

.content h1{
    width: 750px;
    font-family: 'Times New Roman';
    font-size: 50px;
    padding: 20px;
    margin-top: 40px;
    letter-spacing: 2x  px;
}

.content .par{
    width: 700px;
    margin-left: 20px;
    padding: 10px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content span{
    color: #ff7200;
    font-size: 65px;
    margin: auto;
}

.content1{   
    width: 25%;
    position:fixed;
    top: 450px;
    left: 1000px;
}

.btnn, .btnn1{
    display: block;
    width: 200px;
    height: 40px;
    background: white;
    border: none;
    margin: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #ff7200;
}

.btnn1:hover{
    background: indigo;
}

.btnn a, .btnn1 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}